.wrapper {
  background-color: chocolate;
}

.footer {
  padding-top: 8px;
  padding-bottom: 10px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 80%;
  text-align: left;
  margin-left: 151px;


  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "navigation contacts"
    "copyright social";

  &__list {
    grid-area: navigation;

    display: flex;
    align-content: center;
    height: 100%;
    list-style: none;
  }

  &__link {
    display: block;
    padding: 20px;
    letter-spacing: 3px;
  }

  &__copyright {
    grid-area: copyright;
    letter-spacing: 1.1px;
  }

  &__contacts {
    grid-area: contacts;
    
    vertical-align: bottom;
  }

  &__tel {
    position: relative;
    color: white;
    top: 50px;
  }

  &__networks {
    grid-area: social;
  }

  &__networksLink {
    padding: 15px 15px 15px 0;
    color: white;
  }
}
